body{
    background-color: #E9EBEE;
    margin: 20px;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}
nav{
    display: flex;
    align-items: flex-start;
    text-justify: auto;
    
}

a{
    font-size: 25pt;
    color: grey;
    line-height: 2;
}

.sociais{
    border-radius: 50%;
    margin: 0 2px;
}

}

header{

}

footer{
    position: absolute;
    bottom: 0;
    width: 97vw;
    text-align: right;
}


aside{
    background-color: white;
    position: initial;
    width: 300px;
    height: 810px;
    padding: 25px;
}

#colunas{
    display: flex;
    flex-direction: column;
}

section img{
    overflow: auto;
    
}
h2{
    font-size: 45pt;
    color: white;
    margin-left: 130px;
    padding: 0 -20px;
    margin-top: -14cm;
}

h3{
    font-size: 24pt;
    color: white;
    margin-left: 130px;
    margin-top: -1cm;

}